<p id="notice"><%= notice %></p>

<h1>Список городов</h1>

<nav>
  <a href="https://admin-panel-speen.c9users.io/">Страны</a> | <a href="https://admin-panel-speen.c9users.io/regions">Регионы</a> |
  <a href="https://admin-panel-speen.c9users.io/cities">Города</a> | <a href="https://admin-panel-speen.c9users.io/hostels">Турбазы</a>
</nav>

<table cellpadding="10" border="1">
  <thead>
    <tr>
      <th>Название города</th>
      <th>Id region</th>
      <th colspan="3">Меню</th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.city_name %></td>
        <td><%= city.id_region %></td>
        <td><%= link_to 'Посмотреть', city %></td>
        <td><%= link_to 'Редактировать', edit_city_path(city) %></td>
        <td><%= link_to 'Удалить', city, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить город', new_city_path %>
